/* ------------------------------Responsive Media Query Added------------------------------ */

/* --------------------Mobile/Small Device Responsive Added-------------------- */
@media only screen and (max-width: 576px) {
  /* ----------Navbar Mobile/Small Device Responsive Added---------- */
  header {
    max-width: 100%;
  }
  nav {
    flex-direction: column;
    gap: 25px;
    margin-bottom: 75px;
  }
  .nav-links {
    gap: 15px;
  }

  /* ----------Banner Section Mobile/Small Device Responsive Added---------- */
  .banner-section {
    max-width: 100%;
  }
  .banner-container {
    margin-bottom: 75px;
  }

  /* -----Left Banner Container----- */
  .left-banner-container {
    width: 100%;
  }
  .small-title p {
    font-size: 0.9rem;
  }
  hr {
    width: 50%;
  }
  .section-title h2 {
    font-size: 2rem;
    line-height: 40px;
  }

  /* -----Right Banner Container----- */
  .right-banner-container {
    margin-right: 10px;
  }

  .right-banner-container,
  .one h3,
  .two h3,
  .three h3 {
    font-size: 1rem;
  }

  /* ----------Photo Gallery Section Mobile/Small Device Responsive Added---------- */
  .photo-gallery-section {
    grid-template-columns: repeat(2, 1fr);
  }

  /* ---------- Creativity and Design Section Mobile/Small Device Responsive Added ---------- */
  .creativity-section-container hr {
    display: none;
  }
  .creativity-section-container .small-title-container {
    justify-content: center;
    align-items: center;
    margin-top: 75px;
  }
  .creativity-section-container .section-title h2 {
    text-align: center;
    line-height: 47px;
  }
  .creativity-section-container .section-title {
    margin-bottom: 75px;
  }

  /* ----------Our Expertise and Services Section Mobile/Small Device Responsive Added---------- */
  .expertise-services-container hr {
    display: none;
  }
  .expertise-services-container .small-title-container {
    margin-top: 75px;
    justify-content: center;
    align-items: center;
  }
  .expertise-services-container .section-title h2 {
    text-align: center;
  }
  .e-commerce-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .e-commerce {
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    margin-top: 25px;
    margin-bottom: 75px;
  }
  .e-commerce img {
    width: auto;
  }

  /* ----------Footer Section Mobile/Small Device Responsive Added---------- */
  .hr-line div {
    margin-top: 75px;
  }
  .footer hr {
    display: none;
  }
  .footer-container .small-title-container {
    margin-top: 75px;
    justify-content: center;
    align-items: center;
  }
  .footer-container .section-title h2 {
    text-align: center;
  }
  .footer-social {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-around;
  }
  .footer-social div {
    gap: 30px;
  }
}

/* --------------------Tablet/Medium Device Responsive Added-------------------- */
@media only screen and (min-width: 577px) and (max-width: 992px) {
  /* ----------Navbar Tablet/Medium Device Responsive Added---------- */
  header {
    max-width: 100%;
  }
  nav {
    padding: 0px 10px 0px 10px;
    margin-bottom: 100px;
  }

  /* ----------Banner Section Tablet/Medium Device Responsive Added---------- */
  .banner-section {
    max-width: 100%;
  }
  .banner-container {
    margin-bottom: 100px;
  }

  /* -----Left Banner Container----- */
  .section-title h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }

  /* -----Right Banner Container----- */
  .right-banner-container {
    margin-right: 15px;
  }

  /* ----------Photo Gallery Section Tablet/Medium Device Responsive Added---------- */
  .photo-gallery-section {
    grid-template-columns: repeat(3, 1fr);
  }

  /* ---------- Creativity and Design Section Tablet/Medium Device Responsive Added ---------- */
  .creativity-section-container hr {
    width: 75%;
  }
  .creativity-section-container .small-title-container {
    margin-top: 100px;
  }
  .creativity-section-container .section-title {
    margin-bottom: 100px;
  }

  /* ----------Our Expertise and Services Section Tablet/Medium Device Responsive Added---------- */
  .expertise-services-container hr {
    width: 75%;
  }
  .expertise-services-container .small-title-container {
    margin-top: 100px;
  }
  .e-commerce {
    gap: 50px;
    margin-top: 25px;
    margin-bottom: 100px;
  }

  /* ----------Footer Section Tablet/Medium Device Responsive Added---------- */
  .footer hr {
    width: 75%;
  }
  .hr-line div {
    margin-top: 100px;
  }
  .footer-social {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
